@model dynamic
@{

    ViewData["Title"] = "Home Page";
}

    <div>
        <!--<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->


        @{
            if (Model.UserHackathonList.Count != 0)
            {
                <br />
                <br />

                <h6>Your Hackathons</h6>
                <div class="card-columns">

                    @foreach (var item in Model.UserHackathonList)
                    {

                        <a asp-controller="Hackathon" asp-action="Index" asp-route-hid="@item.Id">
                            <div class="card" style="max-height: 5em;">
                                <div class="card-body">

                                    <h5 class="card-title">@item.Title</h5>
                                </div>

                            </div>
                        </a>


                    }

                </div>
            }
        }
        <br />
        <br />
        <h6>Current Hackathons</h6>
        <br />
        <br />
        <div class="card-columns" style="text-align:left">
            @{

                int counter = 0;
                @foreach (var item in Model.CurrentHackathons)
                {
                    counter++;
                    <a asp-controller="Hackathon" asp-action="Index" asp-route-hid="@item.Id">
                        <div class="card" style="max-height: 5em;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                            </div>
                        </div>
                    </a>

                }
                if (counter == 0)
                {
                    <div>No Hackathons Today</div>
                }
            }

        </div>

        <br />
        <br />
        <h6>Previous Hackathons</h6>
        <br />
        <br />
        <div class="card-columns">

            @foreach (var item in Model.PreviousHackathons)
            {
                <a asp-controller="Hackathon" asp-action="Index" asp-route-hid="@item.Id">
                    <div class="card" style="max-height: 5em;">
                        <div class="card-img" style="background-image:@item.Thumbnail"></div>
                        <div class="card-body">
                            <h5 class="card-title">@item.Title  </h5>
                        </div>
                    </div>
                </a>
            }

        </div>
        <br />
        <br />

        <h6>Next Hackathons</h6>
        <br />
        <br />
        <div class="card-columns">

            @foreach (var item in Model.NextHackathons)
            {
                <a asp-controller="Hackathon" asp-action="Index" asp-route-hid="@item.Id">
                    <div class="card" style="height: 6em;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                        </div>
                    </div>
                </a>
            }

        </div>
        <br />
        <br />
    </div>