<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HackUniverse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/HackUniverse.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="main" class="navbar-collapse collapse d-sm-inline-flex navbar ">
                    <ul class="navbar-nav flex-grow-1 flex-sm-row-reverse navbar-toggleable-sm">
                        @if (ViewData["Name"] == null)
                        {
                            <li class="nav-item" style="width:10%;text-align:right">
                                <a class="nav-link text-dark mx-auto" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>

                            <li class="nav-item" style="width:10%;text-align:right">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                            </li>
                        }
                        else
                        {

                                    <li class="nav-item dropdown" style="width:10%;text-align:right;">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            @ViewData["Name"]
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            @if (ViewData["Type"].ToString() == "C")
                                            {
                                                <a class="nav-link dropdown-item" asp-area="" asp-controller="Hackathon" asp-action="Add" asp-route-user="@ViewData["Name"]">Add Hackathon</a>
                                               
                                             }
                                            
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>

                                        </div>
                                    </li>
                                    
                        }
                        <li>
                            <a class="navbar-toggler nav-link text-dark" data-toggle="collapse" data-target="#Search" aria-expanded="false">Search</a>
                        </li>

                        <li id="Search" class="nav-item navbar-collapse collapse" style="width:75%">

                            <form asp-controller="Home" asp-action="Search" method="get" style="width:100%;
                                                                                                display:flex;
                                                                                                box-shadow:0 0 10px;
                                                                                                border-radius:30px;
                                                                                                ">
                                <input name="S" type="text" style="        border: none;
                                                                            border-bottom-left-radius: 30px;
                                                                            border-top-left-radius: 30px;
                                                                            width: 90%;
                                                                            padding-left: 2em;
                                                                            outline: none;" />
                                <button type="submit" style="        border: none;
                                                                            border-bottom-right-radius: 30px;
                                                                            border-top-right-radius: 30px;
                                                                            width: 10%;
                                                                            min-width: 2.5em;
                                                                            color: cadetblue;
                                                                            background-color: lightgoldenrodyellow;
                                                                            outline: none">
                                    Go
                                </button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - HackUniverse - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
